.subsidyAccountQuery_north_second{
	height:50px;
	line-height:50px;
	background:#F4F4F4;
}
.subsidyAccountQuery_north_second>div{
	float:left;
}

.subsidyAccountQuery_north_second .div_first>a{
	margin-left:15px;
}

.subsidyAccountQuery_north_second .div_first{
	margin-left:30px;
}

.subsidyAccountQuery_north_second .div_second{
	margin-left:30px;
}
.subsidyAccountQuery_north_second>div>span{
	margin-right:5px;
}	
.subsidyAccountQuery_linkbutton{
	margin-left:50px;
	background:#2274B9;
	color:#ffffff;
	filter:none;
	margin-bottom:20px;
	margin-top:20px;
}

.subsidyAccountQuery_chaxun{
	margin-left:10px;
	background:#2274B9;
	color:#ffffff;
	filter:none;
}

.subsidyAccountQuery_div{
	display:inline-block;
	vertical-align: middle;
}

.subsidyAccountQuery_searchWin{
	text-align:center;
}

.subsidyAccountQuery_searchWin>fieldset{
	margin:10px 0 10px 10px;
}

.subsidyAccountQuery_searchWin>fieldset>legend{
	font-weight:bold;
	font-size:16px;
	text-align:left;
}

.subsidyAccountQuery_searchWin>div:last-child{
	margin-top:10px;
}

.subsidyAccountQuery_searchWin_linkbutton{
	background:#2274B9;
	color:#ffffff;
	filter:none;
	margin-right:20px;
}